extends layout

block content
    body
    div
        h2 Upload FASTA Files 
        tr
            form(action="/upload", method="post")
                td.to_list 
                    button(type="submit", name="list") DATABASE  
                td.to_seqserver 
                    button.to_seqserver(type="button", onclick="window.open('http://suikou.fs.a.u-tokyo.ac.jp:4567/')") Sequence Server
    div 
        form(enctype = "multipart/form-data", action = "/upload", method = "post")
            p
            div  
                input(type = "file", name = "file", accept = ".fasta, .fa, .fasta.gz, .fa.gz", multiple, required)
                input(type="radio", name="uploadradio", value = "nucleotide", checked)
                |   Nucleotide 
                input(type="radio", name="uploadradio", value = "protein")
                |   Protein 
            div 
                p 
            div 
                p Your name 
                input(type="text", name="uploaduser", pattern = "^[0-9A-Za-z]+$", required) 
                
                button(type="submit", name = "uploadsubmit") Upload
        